<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Restaurants</h1>
    <%= link_to "â•" , new_restaurant_path %>
  </div>
  <% @restaurants.each do |restaurant| %>
    <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
    <%#= link_to  %>
  <% end %>
</div>
