<div class="container">
  <h1><%= @restaurant.name %></h1>
  <%= link_to "🗑", restaurant_path(@restaurant), method: :delete, data: { confirm: "Really delete #{@restaurant.name}?" } %>
  <%= link_to "home", restaurants_path %>
</div>
